body {
  margin: 0;
  padding: 0;
/*  Background fallback in case of IE8 & down, or in case video doens't load, such as with slower connections  */
  background: #333;
  background-attachment: fixed;
  background-size: cover;
}


#image-background {
  display: none;
  background-size: contain;
  background-image: url('img.jpg');
  position: absolute;
  width: 90%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 5%;
}
/* The only rule that matters */
#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}


@media only screen
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #video-background, .title-holder {
      display: none;
    }
    #image-background {
      display: block;
    }
}

/* These just style the content */
article {
/*  just a fancy border  */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 10px solid rgba(255, 255, 255, 0.5);
  margin: 10px;
}

.title-holder {
  position: absolute;
  top: 50%;
  width: 100%;

}

.title {
  font-size: 36px;
  letter-spacing: 3px;
  color: #fff;
  font-family: Oswald, sans-serif;
  text-align: center;
  margin-bottom: 10px;
  top: 30%;
}

.sub-title{
  font-size: 15px;
  color: #fff;
  font-family: Oswald, sans-serif;
  text-align: center;
}

.sub-title a, span{
  color: #fff;
  text-decoration: none;
  padding-bottom: 5px;
  display: inline-block;
  font-weight: 300;
}

h1 span {
  font-family: sans-serif;
  letter-spacing: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

h1 span a {
  color: #fff;
}
